name: Data Preprocessing

on:
    push:
        branches:
        - main
    pull_request:
        branches:
        - main
    
    workflow_dispatch:

jobs:
  register-data:
    runs-on: 
        - self-hosted
        - Linux
        - X64
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure -- Login
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
    
      - name: Register Data Asset
        run: |
          az extension remove -n ml || true
          az extension add -n ml -y
          az ml data create -f assets/data_asset.yml \
            --resource-group ${{ secrets.RESOURCE_GROUP }} \
            --workspace-name ${{ secrets.WORKSPACE_NAME }} \
            --name skin-disease-data-${{ github.sha }} \
            --set path=/mnt/c/Users/Atvar/Desktop/SEM5/MLOps/MLops-Final-Project/Data/SkinDiseaseSmaller
    